.button-cont {
    padding: 10px;
    margin: 20px;

}
.carde6-custom-container {
    max-width: 60rem;
    color: #00a854;
}
.carde5-custom-container {
    max-width: 60rem;
    color: #00a854;
}
.carde4-custom-container {
    max-width: 60rem;
    color: #00a854;
}
.carde3-custom-container {
    max-width: 60rem;
    color: #00a854;
}
.carde2-custom-container {
    max-width: 60rem;
    color: #00a854;
}
.carde1-custom-container {
    max-width: 60rem;
    color: #00a854;
}
.card6-custom-container {
    max-width: 60rem;
    color: #00a854;
}
.card5-custom-container {
    max-width: 60rem;
    color: #00a854;
}
.card4-custom-container {
    max-width: 60rem;
    color: #00a854;
}
.card3-custom-container {
    max-width: 60rem;
    color: #00a854;
}
.card2-custom-container {
    max-width: 60rem;
    color: #00a854;
}
.card1-custom-container {
    max-width: 60rem;
    color: #00a854;
}
.custom-banner {
    padding: 10px;
    text-align: center;
    background-color: #1519ff50;
}
