/*These are Griffin's styles, no taking jk steal away ;)*/
/*This is the header styles*/
*{
    margin: 0;
    padding: 0;
}
html{
    overflow-y: scroll;
}
#splashPageHeader {

    font-family: Comic Sans MS, Comic Sans;
    background-image: url("masterOfElements.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 85vh;
    background-color: #C2E3B0;
}

a:link { color: #000000; text-decoration: none}
.master-of-elements {
    font-family: Comic Sans MS, Comic Sans;
    background-color: #95C57C;
    height: 90px;
    color: #494883;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);

 }
 .master-of-elements h1{
     font-size: 30px;
     margin-left: 30px;
     text-align: left;
     padding-top: 1%;
     position: relative;
     top: 20px;
 }
/*This is the dropdown code for the header of the main page*/
.linkDrop{
    width: 510px;
    margin-left: 72%;
    bottom: 20px;
    position: relative;
}
.linkDrop ul{
    list-style: none;
    background: #95C57C;

}
.linkDrop ul li a{
    color: #2F6413;

}
.linkDrop ul li a:hover{
    color: #1A1951;
    cursor: pointer;

}
.linkDrop ul li {
    width: 170px;
    background:#95C57C;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #2F6413;
    position: relative;
    float: left;
    font-size: 25px;
    background: rgba(149, 197, 124, 0.3);
}
.linkDrop ul li:hover{
    color: #E2D18E;
    cursor: pointer;

}
.linkDrop ul ul{
    display: none;

}
.linkDrop ul li:hover > ul{
    display: block;

}


/*This is the dropdown code for the header of the main page*/
/*This is the header styles*/
/*These are the animations for the main page*/
@keyframes inRainbows{
    0%{
        color:#9A9ABE;
    }
    10%{
        color: #6BA24D;
    }
    20%{
        color: #BBA759;
    }
    30%{
        color: #4D872E;
    }
    40%{
        color: #736016;
    }
    50%{
        color: #1A1951;
    }
    60%{
        color: #6BA24D;
    }
    70%{
        color: #FFF3C6;
    }
    80%{
        color: #4D872E;
    }
    90%{
        color: #BBA759;
    }
    100%{
        color: #1A1951;
    }
}

/*These are the animations for the main page*/

/*This is the main content of the page*/
#masterContent{
    flex: 1;
    max-width: 100%;
    height: 2200px;
    background: #95C57C;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 4rem;
    padding-bottom: 12rem;
    font-family: Comic Sans MS, Comic Sans;
}
#masterContent h1{
    font-size:  50px;
    text-align: center;
    animation-name: inRainbows;
    animation-duration: 1s;
    animation-iteration-count:infinite;
    width: 600px;
    box-shadow: 0px 14px 16px #1A1951;
    background-color: #494883;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}


.profileButton a{
    color:#FFF3C6;
}

.diskDrive{
    width: 240px;
    height: 10px;
    position: relative;
    background-color: black;
    float: left;
    top: 42px;
    left: 60px;
    box-shadow: 0px 6px 8px black;
}

#whoAreTheMasters{
    width: 1000px;
    padding-bottom: 100px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: relative;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #9A9ABE;
    border-radius: 10px;
    margin-top: 600px;
    border-width: 6px;
    border-color: black;
    border-style: solid;
    text-align: center;
}

#whoAreTheMasters h2{
    text-align: center;
    position: relative;
    margin-bottom: 1.5rem;
    font-size: 50px;
}
#whoAreTheMasters p{
    font-size: 30px;
    margin: auto;
}

.emiClass img{
    margin-left:1250px;
    position: relative;
    bottom:140px;
}

.headBandClass{
    position: relative;
    width: 460px;
    height: 100px;
    right: 30px;
    bottom: 15px;
}

#whatIsMaster{
    width: 1000px;
    padding-bottom: 100px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #9A9ABE;
    border-radius: 10px;
    border-width: 6px;
    border-color: black;
    border-style: solid;
    text-align: center;
    bottom: 90px;
}

#whatIsMaster h2{
    text-align: center;
    position: relative;
    margin-bottom: 1.5rem;
    font-size: 50px;
}

#whatIsMaster p{
    font-size: 30px;
    margin: auto;
}

#whatIsMaster{
    width: 1000px;
    padding-bottom: 100px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: relative;
}

.emiClassWhat img{
    margin-left:1250px;
   position: relative;
   bottom:290px;
}



#feeter{
    width: auto;
    height: 70px;
    background-color: #2F6413;
    text-align: center;
}
/* Group Cards */
.card{
    width: 400px;
    margin-top: 70px;
    margin-right: 25px;
    margin-left: 25px;
    text-align: center;
    background-color: #9A9ABE;
    box-shadow:0px 10px 15px #736016;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    float: right;
   float: left;
}
.card h4{
    font-size: 30px;
}

.photos:hover{
    box-shadow: 0px 16px 32px 0 #FFF3C6;
}
.photos{
    position: relative;
    height:190px;
    width:320px;
    bottom: 30px;
    border-radius: 10px;
    border-width: 4px;
    border-style: solid;
    border-color: black;
}
.profileButton{
    float: right;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px black;
    margin: 10px;
    outline:5px;
    padding:5px;
    background-color: #1A1951;
    box-shadow: 0px 6px 8px #1A1951;
}

.profileButton:hover{
    opacity:0.6;
}
.profileButton a{
    color:#FFF3C6;
}


/*Clint's Page Styles*/
#Cbody{
    min-height: 1024px;
    background: linear-gradient(to bottom left, rgb(92, 176, 245), rgb(231, 90, 55));
    background-size: 600% 100%;
    animation: gradient 12s linear infinite;
    animation-direction:alternate;
    border-color:black;
    border-width: 5px;
    border-style: groove;
    padding: 5px;
}
.Cphoto{
    width:240px;
    height:240px;
    border-color:white;
    border-width: 3px;
    border-style:ridge;

}
.Cintro{
    color:white;
    text-decoration:underline wavy skyblue;
    font-size: 26px;
    animation: rainbowtext 20s alternate infinite;
}
#Cheader{
    text-align:center;
    color:white;
    border-color:black;
    border-width: 5px;
    border-style: groove;

}
.Cpara{
    color:white;
    border-color:black;
    border-width: 2px;
    border-style:dotted;
    font-size: 17px;
}

@keyframes rainbowtext{
    0%{
        color:orange;
    }
    20%{
        color:blue;
    }
    40%{
        color:pink;
    }
    60%{
        color:lime;
    }
    80%{
        color:red;
    }
    100%{
        color:cyan;
    }

}
@keyframes gradient{
    0% {background-position: 0%}
    50% {background-position: 65%}
    100% {backgorund-position: 100%}
}

/*Jasmine's Styles*/

#jasmineBody{
    padding: 10px;
    margin: 10px;
    border: 12px double #a5b6b4;
    padding: 30px;
    background-color: white
}
.jasmine-head {
    background: linear-gradient(45deg, #CCFFFF, #FFCCCC);
    padding: 30px;
    color:#7d8584
}
#jasmine-head-border {
    border-bottom: 12px solid #a5b6b4;
}
.jasminePic img{
    margin: 10px;
    padding: 10px;
    border: 6px solid #7d8584;
    width: 200px;
    height: 240px;
    margin-left: auto;
    margin-right: auto;
    background-color: #9A9ABE;
    border-radius: 10px;
    border-width: 6px;
    border-color: black;
    border-style: solid;
    text-align: center;
    bottom: 90px;
}
#JazGrid{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-items: center;
    align-items: center;

}
.jasmineP {
    border-top: 6px solid #a5b6b4;
    padding: 5px;
    color: #7d8584;
    margin: 5px;
}
.jasmineAnchor-tag {
    border: 8px solid aqua;
    padding: 15px;
    filter: brightness(85%);
}
.jasmineBio{
    color:#7d8584;
    margin: 10px;
    padding: 5px;
}
#jasmineOL{
    color:#7d8584;
    margin: 5px;
    padding: 5px;
    border-bottom: 6px solid #a5b6b4;
}
.jasmineButton{
    height: 20px;
    width: 150px;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: #7d8584;
    background-color: #CCFFFF;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    display:inline-flex;
}
.jasmineButton:hover{
    color: #FFCCCC;
    opacity: 0.6;
}
/*code taken and modified from https://css-tricks.com/the-shapes-of-css/*/
#star-blue {
    margin: 50px 0;
    position: relative;
    display: block;
    color: #83e7e7;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #83e7e7;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
    animation: bluestar 5s ease 0s infinite alternate;
  }
  #star-blue:before {
    border-bottom: 80px solid #83e7e7;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
  }
  #star-blue:after {
    position: absolute;
    display: block;
    color: #83e7e7;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #83e7e7;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
  }
  @keyframes bluestar{
      0%{
        top:0px; transform:rotate(0deg);
      }
      25%{
        top: 25px; transform:rotate(360deg);
      }
      50%{
        top: 50px; transform:rotate(-360deg);
      }
      100%{
        top: 0px; transform:rotate(0deg);
      }
  }
  #star-pink {
    margin: 50px 0;
    position: relative;
    display: block;
    color: #ffccd7;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #ffccd7;
    ;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
    animation: pinkstar 5s ease 0s infinite alternate;
  }
  #star-pink:before {
    border-bottom: 80px solid #ffccd7;
    ;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
  }
  #star-pink:after {
    position: absolute;
    display: block;
    color: #ffccd7;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #ffccd7;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
  }
  @keyframes pinkstar{
    0%{
      bottom:0px; transform:rotate(0deg);
    }
    25%{
      bottom: 25px; transform:rotate(-360deg);
    }
    50%{
      bottom: 50px; transform:rotate(360deg);
    }
    100%{
      bottom: 0px; transform:rotate(0deg);
    }
}
/*These are Thomas's styles*/

#Rosso
{
  animation-name: flying;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

 @keyframes flying
 {
 0%
 {
 left: 50px;
 }
 100%
 {
 left: 250px;
 }
 }
 #ball {
    width: 50px;
    height: 50px;
    margin: 50px auto;
    top: 100px;
    right: 1250px;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(
      35deg,
      #ccffff,
      #ffcccc
    );
    animation-name: colorchange;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  @keyframes colorchange{
    0% {
      top: 100px;
      right:1250px;
    }
    50% {
      top: 250px;
      right: 250px;
      width: 100px;
      height: 30px;
    }

  }
